<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>date-fns — modern JavaScript date utility library</title>

    <% if (typeof initialState !== 'undefined') { %>
      <script>
        window.__initialState = JSON.parse('<%= initialState %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="root">
      <% if (typeof body !== 'undefined') { %>
        <%- body %>
      <% } %>
    </div>

    <% if (typeof entry !== 'undefined') { %>
      <script src="<%= entry %>"></script>
    <% } %>
  </body>
</html>
